body { 
    background-color: #000; 
    color: #eee; 
    font-family: Arial, sans-serif; 
    margin: 0; 
    display: flex; 
    height: 100vh; 
    justify-content: center; 
    align-items: center; 
}

#age-gate {
    text-align: center;
    background: #1b1b1b;
    padding: 40px;
    border-radius: 5px;
    border-top: 5px solid #ff9900; /* Le orange classique */
    width: 90%;
    max-width: 500px;
}

.warning-icon {
    font-size: 50px;
    color: #ff9900;
    margin-bottom: 10px;
}

h1 { font-size: 1.5rem; margin-bottom: 15px; }

.btn-gate {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-yes { background-color: #ff9900; color: #000; }
.btn-no { background-color: #333; color: #fff; }

/* Style du Terminal de sensibilisation */
.terminal {
    background: #000;
    padding: 15px;
    color: #00ff00;
    font-family: 'Courier New', monospace;
    text-align: left;
    border: 1px solid #333;
    margin-top: 20px;
}
